/* drag and drop */
#dragDrop{

}
#battleField {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
#cardField {
  display: flex;
  justify-content: center;

}
.block {
  width: 10em;
  height: 10em;
  margin: 1em;
  text-align: center;
}
.card{
  background-color: #FFFFFF;
  border-color: #707070;
  border-style: solid;
  border-width: 1px;
  box-shadow: 6px 6px 10px -7px rgba(0,0,0,0.73);
  border-radius: 18px 18px 18px 18px;
}
#emptyBlock{
  display: flex;
  background-color: #E1E1E1;
  border-radius: 18px 18px 18px 18px;
  justify-content: center;
  align-items: center;
}

.image{
  height:10em;
}