/* drag and drop */
#dragDrop{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#battleField {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#cardField {
  width: 100%;
  display: flex;
  justify-content: center;
}
.block {
  width: 10em;
  height: 10em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: #FFFFFF;
  border-color: #707070;
  border-style: solid;
  border-width: 1px;
  box-shadow: 6px 6px 10px -7px rgba(0,0,0,0.73);
  border-radius: 18px 18px 18px 18px;
}
#emptyBlock{
  display: flex;
  background-color: #E1E1E1;
  border-radius: 18px 18px 18px 18px;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 2.5em;
  font-family: 'Concert One', cursive;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: #E1E1E1;
  margin: auto;
  padding: 0.5em 0em 0.5em 0em;
  color: #484848;
  border-radius:22px;
}
p{
  color: #484848;
}
img{
  display: flex;
  width: 8em;
}
#counter{
  display: flex;
  justify-content: space-between;
  margin-top: 0.7em;
  padding: 0em 1em 0em 1em;
  font-size: 1.5em;
  font-family: 'Rajdhani', sans-serif;
}
#try{
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.7em;
  padding: 0.7em;
  margin: 0em 1em 1em 1em;
  text-align: center;
}
body{
  margin: 0.2em;
}
main{
  width: 70%;
  margin: auto;
  background-color: #F6F6F6;
  border-radius:22px;
}
#tryAgain {
  margin-left: 2.5em;
  margin-top: 1em;
  height: 1.5em;
  box-shadow: 3px 3px 1px  #a1a1a1;
  background-color:#ffffff;
  border-radius:22px;
  border:1px solid #f2a500;
  color:#5c5c5c;
  font-size:1em;
  line-height:1em;
  text-align:center;
  vertical-align: middle;
  font-family: 'Rajdhani', sans-serif;
}
#tryAgain:hover {
  background-color:#fab44b;
  box-shadow: 0px 0px 0px;
}
/* Media queries */
@media screen and ( max-width : 830px) {
  main{
    width: 100%;
  }
  h1{
    width: 100%;
  }
  .block{
    width: 7em;
    height: 7em;
    margin:0.7em 0.2em 0.7em 0.2em;
  }
  img {
    width: 6em;
  }
  #counter{
    font-size: 1em;
  }
}
